<div class="row">
    <div class="col-xs-12 pageBody">

        <div ng-show="page.images.length > 0">
            <carousel interval="15000">
              <slide ng-repeat="slide in page.images" active="slide.active">
                  <img ng-src="{{makeFileUrl(slide)}}" style="margin:auto;" class="img-responsive" height="{{getImageHeight(slide, 436)}}" >
              </slide>
            </carousel>
        </div>

        <div class="pageText">
            <h1 ng-if="page.hideTitle == false">{{page.title}}</h1>

            <div dynamic="page.body"></div>
        </div>

    </div>
</div>
