<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="btapp">
<head>
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <title ng-bind="title"></title>
    <meta name="description" content="{{description}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--[if lte IE 7]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
        <script>
          document.createElement('ng-include');
          document.createElement('ng-pluralize');
          document.createElement('ng-view');
          document.createElement('carousel');

          // Optionally these for CSS
          document.createElement('ng:include');
          document.createElement('ng:pluralize');
          document.createElement('ng:view');
        </script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="./scripts/bower_components/html5shiv/dist/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <script type="text/ng-template" id="nodes_root_renderer.html">
       <li ng-repeat="node in node.nodes" class="rootNode">
           <a ng-if="node.placeholder == false" ui-sref="pageview({pageName: node.name})">{{node.title}}</a>
           <span ng-if="node.placeholder == true">{{node.title}}</span>
           <ng-include src="'nodes_renderer.html'"></ng-include>
       </li>
    </script>
    <script type="text/ng-template" id="nodes_renderer.html">
        <ul>
            <li ng-repeat="node in node.nodes" class="childNode">
            <a ng-if="node.placeholder == false" ui-sref="pageview({pageName: node.name})">{{node.title}}</a>
            <span ng-if="node.placeholder == true">{{node.title}}</span>
            <ng-include src="'nodes_renderer.html'"></ng-include>
            </li>
        </ul>
    </script>

    <div class="container mainContent">
        <div class="row">
            <nav class="col-xs-4 col-md-3 mainmenu">
                <div class="logoBox">
                    <img src="/images/drawing-logo2.png" class="img-responsive">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 companyName">BULTRADE 2014</div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slogan">
                            strong roofs built by tradesmen
                        </div>
                    </div>
                </div>

                <ul class="sidebar-nav">
                    <li ng-repeat="node in pagetree.pages">
                        <a ng-if="node.name == 'home'" ui-sref="home()" class="rootNode">{{node.title}}</a>
                        <a ng-if="node.name != 'home'" ui-sref="pageview({pageName: node.name})">{{node.title}}</a>
                        <ng-include src="'nodes_root_renderer.html'"></ng-include>
                    </li>
                </ul>
                <ul class="sidebar-nav downloadsEl">
                    <li class="rootNode downloadsMenuItem"><a ui-sref="downloads">Downloads</a></li>
                </ul>
            </nav>

            <div class="col-xs-8 col-md-9 contentBody" ui-view>

            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" id="statusbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    &copy; - Bultrade 2014 Ltd.
                </div>
                <div class="col-xs-9">
                    <div class="lbp-notice pull-right">
                        Our Licensed Building Practitioners registration number:
                        <a rel="nofollow" target="_blank" href="http://lbp.dbh.govt.nz/PublicRegister/View.aspx?i=108586&search=1&p=1&lbpid=BP108586">BP108586</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

<script src="dist/app.min.js" type="text/javascript"></script>

</body>
</html>
